@using Innovation_Library.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Admin Workspace</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/summernote/summernote-bs4.min.css">
    <link href="~/Content/Assets/css/Admin.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/Assets/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="/Content/Assets/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="/Content/Assets/css/dataTables.dataTables.min.css" />  
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        @{
            ApplicationDbContext db = new ApplicationDbContext();
        }
        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/Content/Assets/images/logo.png" alt="Selborne" width="300">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <li class="nav-item">
                            <a class="btn btn-danger" href="javascript:document.getElementById('logoutForm').submit()" role="button">Sign Out</a>
                        </li>
                    }

                }

            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <!-- Messages Dropdown Menu -->
                @*@if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link" data-toggle="dropdown" href="#">
                                <i class="far fa-bell"></i>
                                <span class="badge badge-danger navbar-badge">@Notifications.Count()</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                @if (Notifications.Count() == 0)
                                {
                                    <p class="py-3 text-center px-1">You have 0 new notification(s)</p>
                                }
                                else
                                {
                                    foreach (var item in Notifications)
                                    {
                                        <a href="@Url.Action("ViewNotification","HotelManager", new { id=item.NotificationId})" class="dropdown-item">
                                            <!-- Message Start -->
                                            <div class="media">
                                                <img src="~/AdminLTE/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                                <div class="media-body">
                                                    <h3 class="dropdown-item-title">
                                                        @item.Name
                                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                                    </h3>
                                                    <p class="text-sm">@item.NotificatioMessage</p>
                                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> @item.Time</p>
                                                </div>
                                            </div>
                                            <!-- Message End -->
                                        </a>
                                        <div class="dropdown-divider"></div>
                                    }
                                }


                                <div class="dropdown-divider"></div>
                                <a href="@Url.Action("ViewedNotifications", "HotelManager")" class="dropdown-item dropdown-footer">See Viewed Message(s)</a>
                            </div>
                        </li>
                    }*@
                <!-- Notifications Dropdown Menu -->
                @*<li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="far fa-bell"></i>
                            <span class="badge badge-warning navbar-badge">15</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <span class="dropdown-item dropdown-header">15 Notifications</span>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-envelope mr-2"></i> 4 new messages
                                <span class="float-right text-muted text-sm">3 mins</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-users mr-2"></i> 8 friend requests
                                <span class="float-right text-muted text-sm">12 hours</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">
                                <i class="fas fa-file mr-2"></i> 3 new reports
                                <span class="float-right text-muted text-sm">2 days</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                        </div>
                    </li>*@
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                @*<li class="nav-item">
                        <a class="nav-link" data-widget="control-sidebar" data-controlsidebar-slide="true" href="#" role="button">
                            <i class="fas fa-th-large"></i>
                        </a>
                    </li>*@
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="@Url.Action("Index", "Home")" class="brand-link">
                <span class="brand-text font-weight-light">Innovation Library</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/AdminLTE/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@User.Identity.Name</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item menu-open">
                                <a href="@Url.Action("Index", "Admin")" class="nav-link active">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>
                                        Dashboard
                                    </p>
                                </a>
                            </li>
                            <!--Bookings-->
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Booking")" class="nav-link">
                                    <i class="nav-icon fas fa-calendar"></i>
                                    <p>
                                        Bookings
                                        <span class="right badge badge-light">0</span>
                                    </p>
                                </a>
                            </li>
                            <!--Borrowers-->
                            <li class="nav-item">
                                <a href="@Url.Action("IndexBorrowers", "Library")" class="nav-link">
                                    <i class="nav-icon fas fa-check-double"></i>
                                    <p>
                                        Borrowers
                                    </p>
                                </a>
                            </li>
                            <!--Sign In's-->
                            <li class="nav-item">
                                <a href="@Url.Action("LibrarySignIns", "Library")" class="nav-link">
                                    <i class="nav-icon fas fa-sign-in-alt"></i>
                                    <p>
                                        Libary Sign In's]
                                    </p>
                                </a>
                            </li>

                            <!--Book Request-->
                            <li class="nav-item">
                                <a href="@Url.Action("BookRequests", "Library")" class="nav-link">
                                    <i class="nav-icon fas fa-clone"></i>
                                    <p>
                                        Book Requests
                                    </p>
                                </a>
                            </li>

                            <!--Refunds-->
                            <li class="nav-item">
                                <a href="@Url.Action("Refunds", "OrderManagement")" class="nav-link">
                                    <i class="nav-icon fas fa-clone"></i>
                                    <p>
                                        Refunds Request
                                    </p>
                                </a>
                            </li>

                            <!-- Orders -->
                            <li class="nav-item">
                                <a href="@Url.Action("Index", "Order")" class="nav-link">
                                    <i class="nav-icon fas fa-clone"></i>
                                    <p>
                                        Orders
                                    </p>
                                </a>
                            </li>

                            <!-- Orders Exchanges -->
                            <li class="nav-item">
                                <a href="@Url.Action("OrderExchangeReports", "OrderManagement")" class="nav-link">
                                    <i class="nav-icon fas fa-clone"></i>
                                    <p>
                                        Orders Reports
                                    </p>
                                </a>
                            </li>

                            <!-- Orders Exchanges -->
                            <li class="nav-item">
                                <a href="@Url.Action("ItemExchangeReports", "OrderManagement")" class="nav-link">
                                    <i class="nav-icon fas fa-clone"></i>
                                    <p>
                                        Items Reports
                                    </p>
                                </a>
                            </li>

                            <!-- Item Exchanges -->
                            <li class="nav-item">
                                <a href="@Url.Action("Exchanges", "OrderManagement")" class="nav-link">
                                    <i class="nav-icon fas fa-clone"></i>
                                    <p>
                                        Item Exchanges
                                    </p>
                                </a>
                            </li>

                            <!--Hirings-->
                            <li class="nav-item">
                                <a href="@Url.Action("Hirings", "Hiring")" class="nav-link">
                                    <i class="nav-icon fas fa-check-circle"></i>
                                    <p>
                                        Hirings
                                        @*<span class="right badge badge-light">0</span>*@
                                    </p>
                                </a>
                            </li>
                            <!--Scanner-->
                            <li class="nav-item">
                                <a href="@Url.Action("ScanRefCard", "Admin")" class="nav-link">
                                    <i class="nav-icon fas fa-balance-scale"></i>
                                    <p>
                                        Scanner
                                    </p>
                                </a>
                            </li>
                            <!--Category-->
                            <li class="nav-item">
                                <a href="@Url.Action("NewCategory", "Category")" class="nav-link">
                                    <i class="nav-icon fa fa-clone" aria-hidden="true"></i>
                                    <p>
                                        Categories
                                    </p>
                                </a>
                            </li>
                            <!--Events-->
                            <li class="nav-item">
                                <a href="#" class="nav-link ">
                                    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                                    <p>
                                        Events
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("HostEvent", "Event")" class="nav-link">
                                            <i class="fa fa-plus nav-icon"></i>
                                            <p>Host Event</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("EventsIndex", "Event")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Events</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--Tutors-->
                            <li class="nav-item">
                                <a href="#" class="nav-link ">
                                    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                                    <p>
                                        Tutors
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("RegisterTutor", "Tutor")" class="nav-link">
                                            <i class="fa fa-plus nav-icon"></i>
                                            <p>New Tutor</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "Tutor")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>View Tutors</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--Rooms-->
                            <li class="nav-item">
                                <a href="#" class="nav-link ">
                                    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                                    <p>
                                        Rooms
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("NewRoom", "Rooms")" class="nav-link">
                                            <i class="fa fa-plus nav-icon"></i>
                                            <p>New</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("RoomIndex", "Admin")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>View Rooms</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--Shelves-->
                            <li class="nav-item">
                                <a href="#" class="nav-link ">
                                    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                                    <p>
                                        Shelves
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("AddShelf", "Shelves")" class="nav-link">
                                            <i class="fa fa-plus nav-icon"></i>
                                            <p>New</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "Shelves")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>View Shelves</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <!--Shelves-->
                            <li class="nav-item">
                                <a href="#" class="nav-link ">
                                    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                                    <p>
                                        Hiring
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("NewHireItem", "Hiring")" class="nav-link">
                                            <i class="fa fa-plus nav-icon"></i>
                                            <p>New Hiring Item</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "Hiring")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>View Hiring Items</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <!--Products -->
                            <li class="nav-item">
                                <a href="#" class="nav-link ">
                                    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                                    <p>
                                        Books
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("NewBook", "Books")" class="nav-link">
                                            <i class="fa fa-plus nav-icon"></i>
                                            <p>New</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "Books")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>View Books</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("InStock", "Books")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>In Stock</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("InStock", "Books")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>Out Of Stock</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <!-- Drivers -->
                            <li class="nav-item">
                                <a href="#" class="nav-link ">
                                    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                                    <p>
                                        Driver
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("RegisterDriver", "Driver")" class="nav-link">
                                            <i class="fa fa-plus nav-icon"></i>
                                            <p>New</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("Index", "Driver")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>View Drivers</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else if (User.IsInRole("Tutor"))
                        {
                            <li class="nav-item menu-open">
                                <a href="@Url.Action("Index", "Admin")" class="nav-link active">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>
                                        Dashboard
                                    </p>
                                </a>
                            </li>
                            <!-- Announcement -->
                            <li class="nav-item">
                                <a href="#" class="nav-link ">
                                    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                                    <p>
                                        Announcements
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("AddAnnouncement", "Tutor")" class="nav-link">
                                            <i class="fa fa-plus nav-icon"></i>
                                            <p>New</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("AnnouncementIndex", "Tutor")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>View Announcements</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- Learning Sessions -->
                            <li class="nav-item">
                                <a href="#" class="nav-link ">
                                    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                                    <p>
                                        Learning Sessions
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("NewSession", "Tutor")" class="nav-link">
                                            <i class="fa fa-plus nav-icon"></i>
                                            <p>New</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("SessionIndex", "Tutor")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>View Announcements</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!--Slides-->
                            <li class="nav-item">
                                <a href="#" class="nav-link ">
                                    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                                    <p>
                                        Learning Docs
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="@Url.Action("NewSlide", "Tutor")" class="nav-link">
                                            <i class="fa fa-plus nav-icon"></i>
                                            <p>New</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="@Url.Action("SlidesIndex", "Tutor")" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>View Docs</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            if (User.IsInRole("Driver"))
                            {
                                <li class="nav-item menu-open">
                                    <a href="@Url.Action("Index", "Admin")" class="nav-link active">
                                        <i class="nav-icon fas fa-tachometer-alt"></i>
                                        <p>
                                            Dashboard
                                        </p>
                                    </a>
                                </li>
                                <!-- Orders -->
                                <li class="nav-item">
                                    <a href="@Url.Action("Orders", "Driver")" class="nav-link">
                                        <i class="nav-icon fas fa-clone"></i>
                                        <p>
                                            My Orders

                                        </p>
                                    </a>
                                </li>
                                <!-- Driver Exchages -->
                                <li class="nav-item">
                                    <a href="@Url.Action("DriverExchanges", "Driver")" class="nav-link">
                                        <i class="nav-icon fas fa-clone"></i>
                                        <p>
                                            Items Exchanges
                                        </p>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">@ViewBag.PageName</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Home</a></li>
                                <li class="breadcrumb-item active">@ViewBag.PageName</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2020-@DateTime.Today.Year <a href="#">Innovation Library</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.2.0
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <script src="/Content/Assets/js/jquery.dataTables.min.js"></script>
    <script src="/Content/Assets/js/dataTables.bootstrap.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/AdminLTE/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/AdminLTE/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/AdminLTE/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/AdminLTE/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/AdminLTE/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/AdminLTE/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/AdminLTE/plugins/moment/moment.min.js"></script>
    <script src="~/AdminLTE/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/AdminLTE/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/AdminLTE/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/AdminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/AdminLTE/dist/js/demo.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/AdminLTE/dist/js/pages/dashboard.js"></script>
</body>
</html>

